

.loginForm{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.594);
    z-index: 99;
}
.loginForm i{
    cursor: pointer;
}
.loginForm h1{
    background-color: #4CAF50;
}

.loginForm label{
    font-size: 14px;
    text-transform: capitalize;
    color: #464646;
}
.loginForm input{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 12px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #F5F5DC;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    color: #4CAF50;
}

.loginForm a{
    font-size: 14px;
    text-decoration: none;
    color: #4CAF50;
}
.loginForm input[type = "checkbox"]{
    height: 15px;
    margin-right: 10px;
    width: 14px;
    cursor: pointer;
}

.loginForm p{
    font-size: 14px;
    text-transform: capitalize;
}
.loginForm button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    transition: 0.2s ease;
}



/* 

.regForm h1{
    background-color: #4CAF50;
}

.regForm label{
    font-size: 14px;
    text-transform: capitalize;
    color: #464646;
}
.regForm input{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 12px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #F5F5DC;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    color: #4CAF50;
}
.regForm button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    transition: 0.2s ease;
}

.regForm a{
    font-size: 14px;
    text-decoration: none;
    color: #4CAF50;
}

.regForm p{
    font-size: 14px;
    text-transform: capitalize;
} */