.container{
    top: 0;
    background-color: #4CAF50;
    z-index: 99;
    position: fixed;
    width: 100%;
}
.header{
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    margin: auto;
}

.header h1{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    margin-top: 8px;
}
.header nav{
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-right: 50px;
}
.header nav a{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s;
}
.header nav a:hover{
    color: #FFC107;
}

.header button{
    width: 64px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    color: #228B22;
    transition: 0.2s ease;
}
.header button:hover{
    color: #fff;
    background-color: #FFC107;
}

.header i{
    color: #fff;
    font-size:2em;
    cursor: pointer;
    display: none;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon i{
    display: block;
}


/* custom size */
@media screen and (max-width: 912px){
    .header nav{
        width: 35%;
    }
}
@media  screen and (max-width: 820px) {
    .header nav{
        width: 35%;
    }
}




/* medium size */
@media screen and (max-width: 768px) {
    .header {
        display: block;
    }

    .header nav{
        display: none;
        flex-direction: column;
    }
    .header nav.showMenu{
        display: flex;
    }
    .header nav a{
        margin-top: 20px;
    }
    .header button{
        width: 100%;
        margin-top: 20px;
        display: none;
        justify-content: center;
        align-items: center;
    }
    .header i{
        display: block;
    }
    .icon i{
        display: none;
    }
    

    .showMenu ~ button{
        display: flex;
    }
}


