
.home h1{
    font-size: 4em;
    color: #fff;
    font-weight: 700;
    color: #228B22;
}
.home p{
    color: #4CAF50;
}
.home button{
    font-size: 14px;
    width: 90px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #FFC107;
    color: #fff;
}
.home button i{
    margin-right: 5px;
}


.about{
    background-color: #F5F5DC;
}

.about h1{
    color: #4CAF50;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.about p{
    color: #464646;
}

.contact h1{
    color: #228B22;
    font-size: 1.5em;
}
.contact h2{
    color: #565656;
    text-transform: capitalize;
    font-weight: 600;
}
.contact p{
    font-size: 1.2em;
}
.contact label{
    font-size: 1em;
    margin-right: 10px;
    font-weight: 600;
    color: #464646;
}
.contact span{
    color: #4CAF50;
}
.contact i{
    color: #464646;
    margin-right: 4px
}

.input label{
    font-size: 14px;
    font-weight: 100;
    margin-left: 2px;
    margin-bottom: 5px;
}
.input input{
    height: 40px;
    border-radius: 6px;
    border: none;
    outline: none;
    
    background-color: #F5F5DC;
    padding: 0px 15px;
    font-size: 12px;
    color: #228B22;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.message label{
    font-size: 14px;
    font-weight: 100;
    margin-left: 2px;
    margin-bottom: 5px;
}

.message textarea{
    width: 100%;
    height: 120px;
    padding: 15px 15px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #F5F5DC;
    font-size: 14px;
    color: #4CAF50;
    resize: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.contact button{
    width: 90px;
    height: 40px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    outline: none;
    border-radius: 6px;
    font-size: 14px;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    margin-top: 10px;

}



/* custom size */
@media  (max-width: 992px) {
    .home h1{
        font-size: 3em;
    }
}

/* medium size */
@media (max-width: 768px ) {
    .home  h1{
        font-size: 2.5em;
    }
    .contact h2{
        font-size: 1.5em;
    }
    .contact p{
        font-size: 1em;
    }

}




